#add-player {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  input {
    margin: 10px 0;
  }
}

#edit-match {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .edit-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    select {
        padding: 10px;
        width: 100px;
    }

    input {
      width: 50px;
    }

    #match-name {
        width: 80px;
    }
  }

  #edit-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    .condition {
        margin-left: 10px;
    }
  }

  button {
   margin-top: 20px;
  }
}
