#player-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 150px;
  height: 200px;
  margin: auto;

  #profile-pic {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  #rank {
    color: coral;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    transform: translateY(-60%);
  }

  p {
    margin: 0;
    padding: 20px 0;
  }
}
